
<div>
  <h2>Sign Up</h2>
  <div class="username">
    <label for="">Email</label>
    <input type="text"  #emailSignup/> <br>
  </div>

  <div class="password">
    <label for="">Password</label>
    <input type="text"  #passwordSignup/>
  </div>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign Up</button>
</div>


<div>
  <h2>Log In</h2>
  <div class="username-log">
    <label for="">Email</label>
    <input type="text"  #email/> <br>
  </div>

  <div class="password-log">
    <label for="">Password</label>
    <input type="text"   #password/>
  </div>
  <button (click)="onSignin(email.value,password.value)">Sign In</button>
</div>


<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>